@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container-fluid">
    <div class="row d-flex flex-row">

        <div class=" bg-white col-lg-3 mr-4 text-center rounded " style="height:250px;margin-top:100px;">
            <div style="margin-top:-50px;">
                <i class="large icon-large material-icons mt-0" style="font-size:100px;">account_circle</i>
            </div>
            <div class="pt-5">
                <h5>Hema Srinivas</h5>
                <p>Manages Transaction Services</p>


            </div>





        </div>
        <div class=" bg-white col-lg-3  mr-4 align-content-center align-items-center text-center rounded " style="height:250px;margin-top:100px;">
            <div style="margin-top:-50px;">
                <i class="large icon-large material-icons mt-0" style="font-size:100px;">account_circle</i>
            </div>
            <div class="pt-5">
                <h5>Nikitha Chandana</h5>
                <p>Manages Rules Services</p>


            </div>




        </div>

        <div class=" bg-white col-lg-3  mr-4 align-content-center align-items-center text-center rounded " style="height:250px;margin-top:100px;">
            <div style="margin-top:-50px;">
                <i class="large icon-large material-icons mt-0" style="font-size:100px;">account_circle</i>
            </div>
            <div class="pt-5">
                <h5>Priyanaka Ch</h5>
                <p>Manages Account Services</p>


            </div>




        </div>
        <div class=" bg-white col-lg-3  mr-4 align-content-center align-items-center text-center rounded " style="height:250px;margin-top:100px;">
            <div style="margin-top:-50px;">
                <i class="large icon-large material-icons mt-0" style="font-size:100px;">account_circle</i>
            </div>
            <div class="pt-5">
                <h5>Manisa Allu</h5>
                <p>Manges Customer Services</p>


            </div>




        </div>







    </div>


    

</div>
