@model RetailBankSystemClient.ViewModels.CustomerCreationStatus;
@{
    ViewData["Title"] = "CreateSuccess";
}

<div class="container  d-flex align-items-end" style="height:300px;">


    <div class="font-weight-bold"><h1>@Model.Message and your customer id is @Model.CustomerId</h1></div>
</div>
